<% if notice %>
  <div class="container">
    <div class="alert alert-info"><%= notice %></div>
  </div>
<% end %>

<div class="container">
  <br>
  <% if !@orgs.empty? %>
    <% @orgs.each do |org| %>
      <p><i class="icon-globe icon-white"></i> &nbsp;
        <font class="home">
          <%= link_to org.title, org_path(org) %>
        </font>
      </p>

    <% end %>
  <% else %>
    <p><font class="home">No organizations to list. Please add an org.</font></p>
  <% end %>
</div>

<div class="container">
  <div class="navbar">
    <div class="navbar-inner navbar-fixed-bottom">
      <ul class="nav">
        <li>
          <%= link_to({:controller => :orgs, :action => :new}, {:class => 'btn btn-small', :rel => 'tooltip', :title => 'add org'}) do %>
            <i class="icon-plus-sign icon-black"></i> <% end %>
        </li>
        <li>
          &nbsp;
        </li>
      </ul>

      <!-- Help/More info button -->
      <ul class="nav pull-right">
        <li>
          <a id="rnoc-help"
             class="btn btn-small"
             rel="tooltip"
             title="help"><i class="icon-question-sign icon-black"></i> </a>
        </li>
      </ul>


    </div>
  </div>
</div>
