<div class="container">
  <% @pages.each do |page| %>
    <p><i class="icon-fire icon-white"></i> &nbsp; <%= link_to page.title, page_path(page) %></p>
  <% end %>

  <a class="btn" href="<%= new_page_path %>"> Add a page </a>
</div>
