<div class="container">

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
	<a class="brand" href="#">
	  RNOC
	</a>
      </div>
    </div>
  </div>

<p><i class="icon-fire"></i> &nbsp; Some stuff here...</p>

</div>
