<div class="container">

  <div class="navbar-inner">
    <h1>New page</h1>
  </div>

  <%= render 'form' %>

  <%= link_to 'Back', {:controller => :home, :action => 'index'}, :class => 'btn' %>

</div>
