<div class="container">

  <form>
    <fieldset>
      <legend>
        New pagebox for <%= @page.title %>
      </legend>
    </fieldset>
  </form>


  <h1></h1>

  <%= render 'form' %>

  <%= link_to 'Back', "/pages/#{@page.id}", :class => 'btn' %>

</div>
